
 
body {
    background-image: url("/assets/images/difficulttolookat.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  
}
  
 img{
     border-radius:14px;
     box-decoration-break: slice;
     color: whitesmoke;

 }
  
 h1 {


 }

   
  
  #instructions,
  #results,
  #score {
    float: left;
  }
  
  
  #images {
    /* Box-model */
    width: 200px;
    height: 200px;
  
    /* Positioning */
  
    margin-right: 20px;
  }
  